*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    /*border: 1px solid green;*/
}

body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4e4e4e;
    background-color: #f4f4f4;
}



/*Home*/
.home{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.header__content{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px;
    /*background-color: black;*/
}

.header__contacts{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
}

.header__link{
    font-size: 22px;
    display: block;
    position: relative;
    line-height: 36px;
    color: #5CCCCC;
}

/*Geo*/
.header__geo-inner .header__link:before{
    content: "\e947";
    font-size: 30px;
    position: absolute;
    left: -35px;
    top:7px;
    font-family: 'icomoon';
    color: #5CCCCC;
}

/*Tel*/
.header__tel{
    margin-left: 80px;
}

.header__tel .header__link:before{
    content: "\e942";
    font-size: 30px;
    position: absolute;
    left: -35px;
    top:7px;
    font-family: 'icomoon';
    color: #5CCCCC;
}

.header__contacts-text{
    font-size: 18px;
    color: white;
}

.home__content{
    padding: 100px 0 250px;
    color: white;
}

.home__content-title{
    /*width: 500px;*/
    font-weight: 500;
    line-height: 1.3;
    font-size: 30px;
    text-align: center;
}

.home__content-inner{
    border: 1px solid black;
    /*width: 700px;*/
    line-height: 1.5;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

/*Menu*/
.menu{
    padding: 10px 0 10px;
    display: flex;
    /*background: #727272;*/
}

/*Mobile menu*/
.header__btn-menu{
    display: none;
    width: 50px;
    height: 50px;
    border: 1px solid ;
    position: relative;
    background: #5CCCCC;
}

.header__btn-menu span,
.header__btn-menu span:after,
.header__btn-menu span:before{
    width: 30px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -15px;
}

.header__btn-menu span:after,
.header__btn-menu span:before {
    transition: 0.5s;
    content: '';
}

.header__btn-menu span:after{
    transform: translateY(10px);
}

.header__btn-menu span:before{
    transform: translateY(-10px);
}

.btn__menu-active span:before{
    transform: rotate(45deg);
}

.btn__menu-active span:after{
    transform: rotate(-45deg);
}

.btn__menu-active span{
    height: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    color: #5CCCCC;
    font-family: 'Roboto', sans-serif;
}



/*Nameplate*/
.nameplate{
    border-top: 8px solid #de1b1b;
    margin: 8px 0 0;
    background-color: #f4f4f4;
}

.nameplate__inner{
    text-align: center;
    color: black;
    padding: 20px 0;
    line-height: 1.7;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



/*Benefits*/
.benefits{
    background-color: #4e4e4e;
}

.benefits__inner{
    padding: 30px 0 30px;
    color: white;
}

.benefits-title{
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.benefits__inner-box{
    display: flex;
    justify-content: space-between;
}

.benefits__inner-left{
    min-width: 400px;
}

.benefits__inner-right{
    margin-left: 15px;
}

.benefits__item{
    margin-top: 15px;
}

.benefits__title-price,
.benefits__title-time,
.benefits__title-equipment,
.benefits__title-geo,
.benefits__title-calendar{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 26px;
    margin-left: 10px;
    padding-top: 5px;
}

.benefits__title-price:before{
    font-family: 'icomoon';
    content: "\e93b";
}

.benefits__title-time:before{
    font-family: 'icomoon';
    content: "\e952";
}

.benefits__title-equipment:before{
    font-family: 'icomoon';
    content: "\f164";
}

.benefits__title-geo:before{
    font-family: 'icomoon';
    content: "\e948";
}

.benefits__title-calendar:before{
    font-family: 'icomoon';
    content: "\e953";
}

.benefits__title-price:before,
.benefits__title-time:before,
.benefits__title-equipment:before,
.benefits__title-geo:before,
.benefits__title-calendar:before{
    font-size: 22px;
    font-weight: 500;
}

.benefits__text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.25px;
    padding: 5px 10px 15px;color: #d8d8d8;
}

.benefits__text>p{
    margin: auto;
    text-indent: 10px;
}

.benefits__text>span{
    color: #e9e581;
}



/*Gallery*/

/*Слайдер*/
.gallery{
    background-color: #f4f4f4;
}

.gallery__inner{
    padding: 40px 0 30px;
    position: relative;
}

.gallery__inner hr{
    border: 3px solid #de1b1b;
    border-radius: 10px;
}

.gallery__title{
    position: absolute;
    padding: 0 10px;

    top: 38px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: 26px;
    line-height: 1;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #f4f4f4;
}

.gallery__slider{
    margin-top: 40px;
}

.slick-list.draggable{
    height: 400px;
}

.gallery__slider-link{
    text-align: center;
}

.slick-slide{
    opacity: 0.4;
    text-align: center;
}

.slick-slide.slick-center{
    opacity: 1;
}

.slick-slide .gallery__img{
    max-width: 200px;
    max-height: 200px;
    text-align: center;
}

.slick-slide.slick-center .gallery__img{
    max-width: 346px;
    max-height: 300px;
    margin: auto;
    text-align: center;
}

.gallery__slider-title{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: black;
    line-height: 1.2;
    letter-spacing: 0.025em;
}

.slick-slide.slick-center .gallery__slider-title{
    padding-top: 40px;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    letter-spacing: 0.025em;
}

.slick-next,
.slick-prev {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius:100% ;
    cursor: pointer;
    outline: none;
    background: #5CCCCC;
    border: 1.5px solid black;
}

.slick-next:before,
.slick-prev:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

.slick-next:before{
    font-family: 'icomoon';
    content: "\f054";
}

.slick-prev:before {
    font-family: 'icomoon';
    content: "\f053";
}

.slick-next{
    right: 0;
}
.slick-prev {
    left: 0;
}

.slick-disabled{
    cursor: default;
    background: none;
}

.slick-dots{
    display: flex;
    justify-content: center;
    text-align: center;
}

.slick-dots li{
    margin-top: 22px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid black;
}

.slick-dots button{
    padding: 0;
    font-size: 0;
}

.slick-dots li:nth-child(2n) {
    margin: 22px 25px 0;
}

.slick-dots li{
    position: relative;
}

.slick-dots li.slick-active button{
    background-color: #5CCCCC;
    outline: none;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*Portfolio*/
.gallery__link-item{
    max-width: 940px;
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery__filter{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.gallery__filter:hover{
    border: 3px solid #de1b1b;
}

.gallery__filter>a>img{
    overflow: hidden;
    max-width: 550px;
    max-height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/*Application*/

.application__inner{
    position: relative;
    padding: 40px 0;
}

.application__item{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);

    color: white;
    padding: 76px;
    background: rgba(78, 78, 78, 0.9)

}

.application__title{
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 26px;
}

.application__text{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.25px;
    /*border: 2px solid black;*/
}

.application__text>p{
    padding: 0;
    margin: 15px 0 0 10px;
}

.application__link{
    margin: 40px auto 0;
    text-align: right;
    max-width: 220px;
}

.application__link>a{
    position: relative;
    width: 100%;
    border: 3px solid red;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 15px;
    color: #4e4e4e;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 500;
}

.application__link a:before{
    position: absolute;
    left: 10px;
    font-family: 'icomoon';
    content: "\e942";
}

.application__img{
    background-image: url(../img/other.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 900px;
}


/*Info-box*/
.info-box{
    background-color: #4e4e4e;
}

.info-box__inner{
    text-align: center;
    color: white;
    padding: 20px 0;
    line-height: 1.7;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


/*Footer*/

footer{
    background-color: #4e4e4e;
    /*background-color: #595959;*/
}

.footer__inner{
    margin: auto;

    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 30px 30px;
}

.footer__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.7px;
}

.footer__list li{
    margin-top: 25px;
}

.footer__list a{
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 35px;
    position: relative;
    color: white;
}

.footer__list a:before{
    position: absolute;
    left: 6px;
}

.footer__phone:before{
    font-family: 'icomoon';
    content: "\e942";
    color: #5CCCCC;
}

.footer__adress:before{
    font-family: 'icomoon';
    content: "\e947";
    color: #5CCCCC;
}

.footer__email:before{
    font-family: 'icomoon';
    content: "\f003";
    color: #5CCCCC;
}

.footer__map{
    max-width: 630px;
    width: 100%;
    padding-top: 10px;
}

.footer__map iframe{
    width: 100%;
}

.footer__bottom{
    font-size: 18px;
    background: black;
    text-align: center;
    color: #999999;
}

